<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
  <meta charset="utf-8" />
  <title>Angular version | Angulr</title>
  <meta name="description" content="Angularjs, Html5, Music, Landing, 4 in 1 ui kits package" />
  <meta name="keywords" content="AngularJS, angular, bootstrap, admin, dashboard, panel, app, charts, components,flat, responsive, layout, kit, ui, route, web, app, widgets" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="/libs/assets/animate.css/animate.css" type="text/css" />
  <link rel="stylesheet" href="/libs/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/libs/assets/simple-line-icons/css/simple-line-icons.css" type="text/css" />
  <link rel="stylesheet" href="/libs/jquery/bootstrap/dist/css/bootstrap.css" type="text/css" />
  
  <!-- build:css css/app.min.css -->
  <link rel="stylesheet" href="/css/font.css" type="text/css" />
  <link rel="stylesheet" href="/css/app.css" type="text/css" />
    <link rel="stylesheet" href="/css/angular-toastr.min.css" type="text/css" />
 <link rel="stylesheet" href="/js/angularDatatables/dist/css/angular-datatables.min.css" type="text/css" />


  <!-- endbuild -->
</head>
<body ng-controller="AppCtrl" id="AppCtrl">
 <!--  <div class="app" id="app" ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}" ui-view></div>  -->
 <div id="loader" ng-if="LoaderEnabled"></div>

  <div ui-view></div>
<!-- build:js js/app.angular.js -->

 <script src="https://js.stripe.com/v3/"></script>
  <!-- jQuery -->
  <script src="/libs/jquery/jquery/dist/jquery.js"></script>
  <!-- Bootstrap -->
  <script src="/libs/jquery/bootstrap/dist/js/bootstrap.js"></script>

 <script src="/libs/jquery/datatables/media/js/jquery.dataTables.min.js"></script>

 <link rel="stylesheet" href="/css/intlTelInput.css" />

 <script     src="/js/intlTelInput.min.js"></script>


  <!-- Angular -->
  <script src="/libs/angular/angular/angular.js"></script>
 <script src="/js/angularDatatables/dist/angular-datatables.min.js"></script>
  
  <script src="/libs/angular/angular-animate/angular-animate.js"></script>
  <script src="/libs/angular/angular-aria/angular-aria.js"></script>
  <script src="/libs/angular/angular-cookies/angular-cookies.js"></script>
  <script src="/libs/angular/angular-messages/angular-messages.js"></script>
  <script src="/libs/angular/angular-resource/angular-resource.js"></script>
  <script src="/libs/angular/angular-sanitize/angular-sanitize.js"></script>
  <script src="/libs/angular/angular-touch/angular-touch.js"></script>
  
  <script src="/libs/angular/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/libs/angular/ngstorage/ngStorage.js"></script>
  <script src="/libs/angular/angular-ui-utils/ui-utils.js"></script>



  <!-- bootstrap -->
  <script src="/libs/angular/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- lazyload -->
  <script src="/libs/angular/oclazyload/dist/ocLazyLoad.js"></script>
  <!-- translate -->
  <script src="/libs/angular/angular-translate/angular-translate.js"></script>
  <script src="/libs/angular/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script src="/libs/angular/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
  <script src="/libs/angular/angular-translate-storage-local/angular-translate-storage-local.js"></script>
 <script src="/libs/angular-signature/src/signature.js"></script>
 <script src="/libs/signature_pad/dist/signature_pad.min.js"></script>


 <script         src="/js/utils.js"></script>


 <script src="/libs/toastr/angular-toastr.min.js"></script>
 <script src="/libs/toastr/angular-toastr.tpls.min.js"></script>

  <!-- App -->
  <script src="/js/app.js"></script>
  <script src="/js/config.js"></script>
  <script src="/js/config.lazyload.js"></script>
  <script src="/js/config.router.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/services/ui-load.js"></script>
  <script src="/js/services/Session.js"></script>
  <script src="/js/services/Auth.js"></script>
  <script src="/js/filters/fromNow.js"></script>
  <script src="/js/directives/setnganimate.js"></script>
  <script src="/js/directives/ui-butterbar.js"></script>
  <script src="/js/directives/ui-focus.js"></script>
  <script src="/js/directives/ui-fullscreen.js"></script>
  <script src="/js/directives/ui-jq.js"></script>
  <script src="/js/directives/ui-module.js"></script>
  <script src="/js/directives/ui-nav.js"></script>
  <script src="/js/directives/ui-scroll.js"></script>
  <script src="/js/directives/ui-shift.js"></script>
  <script src="/js/directives/ui-toggleclass.js"></script>
 <script src="/js/directives/dateInput.js"></script>
 <script src="/js/directives/filemodel.js"></script>
 <script src="/js/directives/contenteditable.js"></script>
  <script src="/js/controllers/bootstrap.js"></script>
 <script src="/js/controllers/signin.js"></script>
 <script src="/js/controllers/signup.js"></script>
 <script src="/js/controllers/logout.js"></script>
 <script src="/js/controllers/newFormController.js"></script>
 <script src="/js/controllers/ShowFormController.js"></script>
 <script src="/js/controllers/ListFormsController.js"></script>
 <script src="/js/controllers/AccountSettingsController.js"></script>
 <script src="/js/controllers/DashboardController.js"></script>
 <script src="/js/controllers/InvoicesController.js"></script>
 <script src="/js/controllers/ContactUsController.js"></script>
 <script src="/js/controllers/PaymentErrorController.js"></script>
 <script src="/js/controllers/PaymentPageController.js"></script>
 <script src="/js/ng-intl-tel-input.min.js"></script>













 <div id="google_translate_element"></div>
 <script type="text/javascript">
  function googleTranslateElementInit() {
   new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }
 </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>











 <!-- endbuild -->
  <!-- Lazy loading -->
</body>
</html>
