<!-- navbar header -->
<div class="navbar-header ">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
        <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a href="#/" class="navbar-brand text-lt">
        <i class="fa fa-btc"></i>
        <img src="/img/logo.png" alt="." class="hide">
        <span class="hidden-folded m-l-xs">{{app.name}}</span>
    </a>
    <!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow ">
    <!-- buttons -->

    <!-- / buttons -->

    <!-- link and dropdown -->
  <!--  <ul class="nav navbar-nav hidden-sm">

        <li class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
                <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
                <span translate="header.navbar.menu">Menu</span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">

                <li ng-if="$root.role == 'landlord' "><a ui-sref="NewForm" translate="header.navbar.new">New
                    Agreement</a></li>
                <li ng-if="$root.role == 'landlord' || $root.role == 'tenant' "><a ui-sref="Invoices">Invoices</a></li>
                <li><a ui-sref="ListForms" translate="header.navbar.list">Agreements list</a></li>
            </ul>
        </li>
    </ul>
    -->
    <!-- / link and dropdown -->


    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right" style="    height: 80px;">

      <li>   <span style="color:red" >{{ $root.email}}</span>  </li>




        <li class="dropdown hidden-sm" is-open="lang.isopen" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
                {{selectLang}} <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li ng-repeat="(langKey, label) in langs">
                    <a ng-click="setLang(langKey, $event)" href>{{label}}</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>

        <li class="hidden-xs">
            <a ui-fullscreen></a>
        </li>

        <!--
        <li class="dropdown" dropdown>
          <a href class="dropdown-toggle" dropdown-toggle>
            <i class="icon-bell fa-fw"></i>
            <span class="visible-xs-inline">Notifications</span>
            <span class="badge badge-sm up bg-danger pull-right-xs">2</span>
          </a>
          <!-- dropdown --
          <div class="dropdown-menu w-xl animated fadeInUp">
            <div class="panel bg-white">
              <div class="panel-heading b-light bg-light">
                <strong>You have <span>2</span> notifications</strong>
              </div>
              <div class="list-group">
                <a href class="list-group-item">
                  <span class="pull-left m-r thumb-sm">
                    <img src="img/a0.jpg" alt="..." class="img-circle">
                  </span>
                  <span class="clear block m-b-none">
                    Use awesome animate.css<br>
                    <small class="text-muted">10 minutes ago</small>
                  </span>
                </a>
                <a href class="list-group-item">
                  <span class="clear block m-b-none">
                    1.0 initial released<br>
                    <small class="text-muted">1 hour ago</small>
                  </span>
                </a>
              </div>
              <div class="panel-footer text-sm">
                <a href class="pull-right"><i class="fa fa-cog"></i></a>
                <a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a>
              </div>
            </div>
          </div>
          <!-- / dropdown --
        </li>
-->


        <li class="dropdown" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle>
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="/img/blank-profile.png" alt="..." ng-show="$root.user.ProfilePicture == null">
                   <img src="/uploads/ProfilePicture/{{$root.user.ProfilePicture}}" alt="..." ng-hide="$root.user.ProfilePicture == null">
                <i class="on md b-white bottom"></i>
              </span>
                <span class="hidden-sm hidden-md">{{ $root.firstName}}</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
          <!--      <li>
                    <a ui-sref="AccountSettings" href>
                        <span>Settings</span>
                    </a>
                </li>
                -->
                <li>
                    <a ui-sref="AccountSettings">Profile</a>
                </li>

          <!--      <li>
                    <a ui-sref="Help">
                        Help
                    </a>
                </li>  -->
                <li class="divider"></li>
                <li>
                    <a ui-sref="Logout">Logout</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
    </ul>
    <!-- / navbar right -->

</div>
<!-- / navbar collapse -->
