<!-- navbar -->
<div data-ng-include=" '/tpl/blocks/header.html' " class="app-header navbar">
</div>
<!-- / navbar -->
<!-- content -->
<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;  ">
    <!-- main -->
    <div class="row">
        <div class="col-sm-2  bg-black Menu">
            <ul class="sideMenu">
                <li><a ui-sref="Dashboard" class="active"> Dashboard </a></li>
                <li ng-if="$root.role != 'tenant' "><a ui-sref="NewForm"> New Contracts </a></li>
                <li><a ui-sref="ListForms"> Contract Admin </a></li>
                <li><a ui-sref="ContactUs"> Contact Us </a></li>
            </ul>
        </div>
        <div class="col-sm-10" style="    padding-top: 30px;">
            <div ng-if="$root.role == 'landlord' ">
                <!-- landlord dashboard -->
                <div class="row" ng-repeat="appartmentBlock in ApartmentList">
                    <h2 style="    text-align: center;">{{appartmentBlock.Adress}}</h2>

                    <div class="col-sm-4" ng-repeat="BlockDetails in appartmentBlock.apartments" style="margin-bottom: 20px;" >

                        <div ng-if="BlockDetails.status !='PropertyAvaliable' " ng-class="BlockDetails.status" ui-sref="Invoices( {LeaseId:BlockDetails.propertyId})" style="    cursor: pointer;">
                            {{BlockDetails.name}}
                            <p> {{BlockDetails.tenantName}} </p>
                        </div>

                        <div  ng-if="BlockDetails.status =='PropertyAvaliable' " ng-class="BlockDetails.status"  >
                            {{BlockDetails.name}}
                            <p> {{BlockDetails.tenantName}} </p>
                        </div>

                    </div>
                </div>
            </div>


            <div ng-if="$root.role == 'tenant' ">

                <!-- landlord dashboard -->
                <div class="row" ng-repeat="appartmentBlock in ApartmentList">
                    <h2 style="    text-align: center;">{{appartmentBlock.Adress}}</h2>

                    <div class="col-sm-4" ng-repeat="BlockDetails in appartmentBlock.apartments" style="margin-bottom: 20px;" >

                        <div ng-if="BlockDetails.status !='PropertyAvaliable' " ng-class="BlockDetails.status" ui-sref="Invoices( {LeaseId:BlockDetails.propertyId})" style="    cursor: pointer;">
                            {{BlockDetails.name}}
                            <p> {{BlockDetails.tenantName}} </p>
                        </div>

                        <div  ng-if="BlockDetails.status =='PropertyAvaliable' " ng-class="BlockDetails.status"  >
                            {{BlockDetails.name}}
                            <p> {{BlockDetails.tenantName}} </p>
                        </div>

                    </div>

                </div>


            </div>

            <div ng-if="$root.role == 'property_manager' ">

                <!-- landlord dashboard -->
                <div class="row" ng-repeat="appartmentBlock in ApartmentList">
                    <h2 style="    text-align: center;">{{appartmentBlock.Adress}}</h2>

                    <div class="col-sm-4" ng-repeat="BlockDetails in appartmentBlock.apartments" style="margin-bottom: 20px;" >

                        <div ng-if="BlockDetails.status !='PropertyAvaliable' " ng-class="BlockDetails.status"   ui-sref="ShowForm( {formId:BlockDetails.propertyId})" style="    cursor: pointer;" >
                            {{BlockDetails.name}}
                            <p> {{BlockDetails.tenantName}} </p>
                        </div>

                        <div  ng-if="BlockDetails.status =='PropertyAvaliable' " ng-class="BlockDetails.status"  >
                            {{BlockDetails.name}}
                            <p> {{BlockDetails.tenantName}} </p>
                        </div>

                    </div>

                </div>


            </div>

            <div ng-if="$root.role == 'broker' ">

                <!-- landlord dashboard -->
                <div class="row" ng-repeat="appartmentBlock in ApartmentList">
                    <h2 style="    text-align: center;">{{appartmentBlock.Adress}}</h2>

                    <div class="col-sm-4" ng-repeat="BlockDetails in appartmentBlock.apartments" style="margin-bottom: 20px;" >

                        <div ng-if="BlockDetails.status !='PropertyAvaliable' " ng-class="BlockDetails.status"   ui-sref="ShowForm( {formId:BlockDetails.propertyId})" style="    cursor: pointer;" >
                            {{BlockDetails.name}}
                            <p> {{BlockDetails.tenantName}} </p>
                        </div>

                        <div  ng-if="BlockDetails.status =='PropertyAvaliable' " ng-class="BlockDetails.status"  >
                            {{BlockDetails.name}}
                            <p> {{BlockDetails.tenantName}} </p>
                        </div>

                    </div>

                </div>


            </div>



        </div>
        <!-- / main -->

    </div>
</div>
<!-- /content -->

<!-- footer -->
<div class="app-footer wrapper b-t bg-light">
    <span class="pull-right">{{app.version}} <a href ui-scroll-to="app" class="m-l-sm text-muted"><i
            class="fa fa-long-arrow-up"></i></a></span>
    &copy; 2016 Copyright.   <span style="color:red" >{{ $root.email}}</span>
</div>
<!-- / footer -->
