<!-- navbar -->
<div data-ng-include=" '/tpl/blocks/header.html' " class="app-header navbar">
</div>
<!-- / navbar -->


<!-- content -->


<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;  ">
    <!-- main -->
    <div class="row">
        <div class="col-sm-2  bg-black Menu">
            <ul class="sideMenu">
                <li><a ui-sref="Dashboard"> Dashboard </a></li>
                <li ng-if="$root.role != 'tenant' "><a ui-sref="NewForm"> New Contracts </a></li>
                <li><a ui-sref="ListForms"> Contract Admin </a></li>
                <li><a ui-sref="ContactUs" class="active"> Contact Us </a></li>
            </ul>
        </div>
        <div class="col-sm-10" style="    padding-top: 30px;">
            <div>
                <div class="m-b-lg">
                    <div class="wrapper text-center">
                        <strong>Contact us form</strong>
                    </div>
                    <form name="form" class="form-validation">

                        <div class="list-group list-group-sm">

                            <div class="list-group-item">
                                <select class="form-control" name="salutation" ng-model="message.salutation">
                                    <option value="Mr">Mr</option>
                                    <option value="Ms">Ms</option>
                                </select>
                            </div>

                            <div class="list-group-item">
                                <input placeholder="Name" class="form-control no-border" ng-model="message.name" required>
                            </div>
                            <div class="list-group-item">
                                <input type="email" placeholder="Email" class="form-control no-border"
                                       ng-model="message.email" required>
                            </div>
                            <div class="list-group-item">
                                <textarea class="form-control no-border" placeholder="Your message" ng-model="message.text"></textarea>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="SenMessage(message)"
                                ng-disabled='form.$invalid'>Contact Us
                        </button>

                    </form>
                </div>
            </div>
            <!-- / main -->
        </div>
    </div>
</div>


<!-- /content -->

<!-- footer -->
<div class="app-footer wrapper b-t bg-light">
    <span class="pull-right">{{app.version}} <a href ui-scroll-to="app" class="m-l-sm text-muted"><i
            class="fa fa-long-arrow-up"></i></a></span>
    &copy; 2016 Copyright.   <span style="color:red" >{{ $root.email}}</span>
</div>
<!-- / footer -->





