<!-- navbar -->
<div data-ng-include=" '/tpl/blocks/header.html' " class="app-header navbar">
</div>


<!-- / navbar -->


<!-- content -->


<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;  ">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">Somthing wrong with your payments</h1>
                </div>


            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md">
            <!-- stats -->


            <div class="row">

                <h1> Error page </h1>


            </div>


            <!-- / stats -->


        </div>
    </div>
    <!-- / main -->

</div>


<!-- /content -->

<!-- footer -->
<div class="app-footer wrapper b-t bg-light">
    <span class="pull-right">{{app.version}} <a href ui-scroll-to="app" class="m-l-sm text-muted"><i
            class="fa fa-long-arrow-up"></i></a></span>
    &copy; 2016 Copyright. <span style="color:red">{{ $root.email}}</span>
</div>
<!-- / footer -->
