<!-- navbar -->
<div data-ng-include=" '/tpl/blocks/header.html' " class="app-header navbar">
</div>


<!-- / navbar -->


<!-- content -->


<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;  ">
    <!-- main -->
    <div class="row">


        <div class="col-sm-2  bg-black Menu">
            <ul class="sideMenu">
                <li><a ui-sref="Dashboard"> Dashboard </a></li>
                <li ng-if="$root.role != 'tenant' "><a ui-sref="NewForm"> New Contracts </a></li>
                <li><a ui-sref="ListForms"> Contract Admin </a></li>
                <li><a ui-sref="ContactUs"> Contact Us </a></li>
            </ul>
        </div>
        <div class="col-sm-10" style="    padding-top: 30px;">


            <div>
                <!-- main header -->
                <div class="bg-light lter b-b wrapper-md">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <h1 class="m-n font-thin h3 text-black">Settings</h1>
                        </div>


                    </div>
                </div>


                <!-- / main header -->
                <div class="wrapper-md">
                    <!-- stats -->
                    <!--     <div class="row">

                             <form class="form-inline">
                                 <h1 class="capitalize"> Ballance :  {{$root.user.ballance}}</h1>
                                 <div class="form-group">
                                     <label class="sr-only" for="UploadAmount">Upload amount</label>
                                     <input type="text" class="form-control" placeholder="Upload Amount"
                                            ng-model="UploadAmount" id="UploadAmount">
                                 </div>
                                 <button  class="btn btn-sm btn-primary" ng-click="UploadBallance()">Upload</button>


                             </form>
                             </div>
                         </div>
             -->


                    <div class="row">
                        <h2>Switch role</h2>

                        <select class="form-control " ng-model="$root.newRole">
                            <option ng-repeat="role in AllRoles" value="{{role.role}}">{{role.role}}</option>
                        </select>
                        <button ng-click="SelectRole()" class="btn btn-sm btn-primary"> Select role</button>

                    </div>

                    <div class="row">

                        <div ng-if="$root.user.CoinBaseToken == '' || $root.user.CoinBaseToken == null ">
                            <a class="btn btn-sm btn-primary"
                               href="https://www.coinbase.com/oauth/authorize?client_id=5cc4f604fde8cab0c24732e831c8a06e137d2dae32a70a244535416451de97de&redirect_uri=http%3A%2F%2F52.234.147.185%2FCoinBaseOauthCallback&response_type=code&scope=wallet:user:read,wallet:accounts:read,wallet:transactions:send,wallet:transactions:read,wallet:addresses:read,wallet:addresses:create&meta[send_limit_amount]=1"
                               target="_blank">Connect your Coinbase account </a>
                        </div>

                        <div ng-if="$root.user.CoinBaseToken != '' &&  $root.user.CoinBaseToken != null    ">
                            <button ng-click="UnlinkCoinbase()" class="btn btn-sm btn-primary"> Unlink my coinbase
                                account
                            </button>
                        </div>


                    </div   >


                    <!-- / main header -->
                    <div class="wrapper-md">
                        <!-- stats -->
                        <div class="row">
                            <form class="form-inline">
                                <h1 class="capitalize"> Link your paypal account </h1>
                                <input type="text" class="form-control" placeholder="PayPal account"
                                       ng-model="$root.user.paypalAccount" id="paypalAccount">
                                <button type="submit" class="btn btn-sm btn-primary" ng-click="SavePayPal()">Save
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="wrapper-md">
                        <!-- stats -->
                        <div class="row">
                                <h1 class="capitalize"> Link your Stripe account </h1>
                        </div>

<!--  ng-if="$root.user.stripeToken=='' || $root.user.stripeToken==null "  -->

                        <form action="/" method="POST" id="payment-form" >
                            <div class="form-row">
                                <label for="card-element">
                                    Credit or debit card
                                </label>
                                <div id="card-element">   </div>


                                <div id="card-errors" role="alert"></div>
                            </div>
                            <!-- <button  > Submit Payment1</button>  -->
                            <button ng-click="submitStripe()" type="submit"> Submit Payment</button>

                        </form>


<!--
                        <form action="/charge" method="post" id="payment-form">
                            <div class="form-row">
                                <label for="card-element">
                                    Credit or debit card
                                </label>
                                <div id="card-element">

                                </div>


                                <div id="card-errors" role="alert"></div>
                            </div>

                            <button>Submit Payment</button>
                        </form>

-->



                        <div  ng-if="$root.user.stripeToken!='' &&  $root.user.stripeToken!=null ">
                            Your account linked already
                            </div>
                        <style>
                            .StripeElement {
                                box-sizing: border-box;

                                height: 40px;

                                padding: 10px 12px;

                                border: 1px solid transparent;
                                border-radius: 4px;
                                background-color: white;

                                box-shadow: 0 1px 3px 0 #e6ebf1;
                                -webkit-transition: box-shadow 150ms ease;
                                transition: box-shadow 150ms ease;
                            }

                            .StripeElement--focus {
                                box-shadow: 0 1px 3px 0 #cfd7df;
                            }

                            .StripeElement--invalid {
                                border-color: #fa755a;
                            }

                            .StripeElement--webkit-autofill {
                                background-color: #fefde5 !important;
                            }
                        </style>

                        <script>
                            // Create a Stripe client.
                            var stripe = Stripe('pk_test_QRGxo2oFKoRn5n5BzSVKZUYj009nrn4W5x');

                            // Create an instance of Elements.
                            var elements = stripe.elements();

                            // Custom styling can be passed to options when creating an Element.
                            // (Note that this demo uses a wider set of styles than the guide below.)
                            var style = {
                                base: {
                                    color: '#32325d',
                                    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                                    fontSmoothing: 'antialiased',
                                    fontSize: '16px',
                                    '::placeholder': {
                                        color: '#aab7c4'
                                    }
                                },
                                invalid: {
                                    color: '#fa755a',
                                    iconColor: '#fa755a'
                                }
                            };

                            // Create an instance of the card Element.
                            var card = elements.create('card', {style: style});

                            // Add an instance of the card Element into the `card-element` <div>.
                            card.mount('#card-element');

                            // Handle real-time validation errors from the card Element.
                            card.addEventListener('change', function(event) {
                                var displayError = document.getElementById('card-errors');
                                if (event.error) {
                                    displayError.textContent = event.error.message;
                                } else {
                                    displayError.textContent = '';
                                }
                            });

                            // Handle form submission.
                            var form = document.getElementById('payment-form');
                      form.addEventListener('submit', function(event) {
                          console.log('SUBMIT FORM');
                                event.preventDefault();

                                stripe.createToken(card).then(function(result) {
                                    console.log(result);
                                    if (result.error) {
                                        // Inform the user if there was an error.
                                        var errorElement = document.getElementById('card-errors');
                                        errorElement.textContent = result.error.message;
                                    } else {
                                        // Send the token to your server.
                                        stripeTokenHandler(result.token);
                                    }
                                });
                            });

                            // Submit the form with the token ID.
                         function stripeTokenHandler(token) {
                                // Insert the token ID into the form so it gets submitted to the server
                                var form = document.getElementById('payment-form');
                                var hiddenInput = document.createElement('input');
                                hiddenInput.setAttribute('type', 'hidden');
                                hiddenInput.setAttribute('name', 'stripeToken');
                                hiddenInput.setAttribute('value', token.id);
                                form.appendChild(hiddenInput);

                                // Submit the form
                       //         form.submit();


                                angular.element(document.getElementById('AppCtrl')).scope().SaveProfile();



                            }



                        </script>

                    </div>





                    <!-- / main header -->
                    <div class="wrapper-md">
                        <!-- stats -->
                        <div class="row">

                            <form class="form-inline">
                                <h1 class="capitalize"> Name </h1>
                                <div class="form-group">
                                    <label class="sr-only" for="FirstName">First Name</label>
                                    <input type="text" class="form-control" placeholder="First Name"
                                           ng-model="$root.user.FirstName" id="FirstName">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="LastName">Last Name</label>
                                    <input type="text" class="form-control" placeholder=" Last name"
                                           ng-model="$root.user.LastName" id="LastName">
                                </div>

                            </form>

                            <form class="form-inline">
                                <h1 class="capitalize"> Phone Number </h1>


                                <div class="form-group">
                                    <label class="sr-only" for="AreaCode">Phone </label>
                                    <input type="text" ng-model="$root.user.PhoneNumber" ng-intl-tel-input
                                           data-initial-country="us" id="AreaCode">
                                </div>


                            </form>

                            <form class="form-inline" ng-if="$root.user.role=='landlord' ">
                                <h1 class="capitalize"> Home Address </h1>
                                <div class="form-group">
                                    <label class="sr-only" for="HomeAdress">Home Address</label>
                                    <input type="text" class="form-control" placeholder="Home Address"
                                           ng-model="$root.user.HomeAdress" id="HomeAdress">
                                </div>
                            </form>

                            <form class="form-inline" ng-if="$root.user.role=='landlord' ">
                                <h1 class="capitalize"> Date of Birth </h1>
                                <div class="form-group">


                                    <label class="sr-only" for="HomeAdress">Home Address</label>
                                    <input type="date" class="form-control" placeholder="Home Address"
                                           ng-model="$root.user.DOB" id="DateOfBirth">
                                    <!--     <div uib-datepicker ng-model="dateOfBirth" class="well well-sm" datepicker-options="options"></div> -->
                                </div>
                            </form>


                            <button type="submit" class="btn btn-sm btn-primary" ng-click="SaveProfile()">Save</button>

                            <!-- / stats -->

                            <div class="row">
                                <h2>Profile Picture</h2>

                                <input type="file" file-model="$root.ProfilePicture" name="ProfilePicture">
                                <button class="btn btn-default" ng-click="UploadPicture()">
                                    <i class="fa fa-cloud-upload text"></i>
                                    <span class="text">Upload</span>
                                </button>
                            </div>


                            <div class="row">
                                <h2>Custom logo for invoices</h2>

                                <input type="file" file-model="$root.CustomLogo" name="CustomLogo">
                                <button class="btn btn-default" ng-click="UploadLogo()">
                                    <i class="fa fa-cloud-upload text"></i>
                                    <span class="text">Upload</span>
                                </button>
                            </div>


                        </div>


                    </div>
                </div>
                <!-- / main -->

            </div>


            <!-- /content -->

            <!-- footer -->
            <div class="app-footer wrapper b-t bg-light">
        <span class="pull-right">{{app.version}} <a href ui-scroll-to="app" class="m-l-sm text-muted"><i
                class="fa fa-long-arrow-up"></i></a></span>
                &copy; 2016 Copyright. <span style="color:red">{{ $root.email}}</span>
            </div>
            <!-- / footer -->
