<!-- navbar -->
<div data-ng-include=" '/tpl/blocks/header.html' " class="app-header navbar">
</div>
<!-- / navbar -->


<!-- content -->


<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;  ">
    <!-- main -->
    <div class="row">
        <div class="col-sm-2  bg-black Menu">
            <ul class="sideMenu">
                <li><a ui-sref="Dashboard"> Dashboard </a></li>
                <li ng-if="$root.role != 'tenant' "><a ui-sref="NewForm"> New Contracts </a></li>
                <li><a ui-sref="ListForms" class="active"> Contract Admin </a></li>
                <li><a ui-sref="ContactUs"> Contact Us </a></li>
            </ul>
        </div>
        <div class="col-sm-10" style="    padding-top: 30px;">



    <div >
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">List contracts</h1>
                </div>


            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md">
            <!-- stats -->



            <div class="row" >
                <table  datatable="ng" class="table table-striped b-t b-b">
                    <thead>
                    <tr>
                        <th> Id</th>
                        <th>Invited</th>
                        <th>Address</th>
                        <th>Unit</th>
                        <th>CustomFile</th>
                        <th>Status</th>
                        <th>Parties</th>
                        <th>Blockchain</th>
                        <th> Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="form in Forms"  ng-class="{'terminated':form.terminated==1}">
                        <td> {{form.Id}}</td>
                        <td ng-bind-html="form.InvitedList"> </td>
                        <td>{{form.address}}   </td>
                        <td> {{form.address2}}</td>
                        <td>  <a href="/uploads/customLease/{{form.LL_customLease_file}}" target="_blank" ng-if="form.IsCustom==1">Download doc </a></td>
                        <td> {{form.status}}


                            <a ng-if="form.customLease_file !=null "
                               href="/uploads/customLease/{{form.customLease_file}}" target="_blank"><i
                                    class="glyphicon glyphicon-download-alt"></i> </a>


                        </td>
                        <td>

                            <ul style="    list-style: none; ">
                                <li><i class="fa fa-dot-circle-o text-success" ng-if="form.Parties >0 "></i> Invited
                                </li>
                                <li><i class="fa fa-dot-circle-o  text-success" ng-if="form.Parties >1 "></i>Comments
                                </li>
                                <li><i class="fa fa-dot-circle-o  text-success" ng-if="form.LL_sign ==1 "></i>Signed by Landlord</li>
                                <li><i class="fa fa-dot-circle-o  text-success" ng-if="form.T_sign ==1 "></i>Signed by Tenant</li>
                                <li ng-if="form.B_sign > -1" ><i class="fa fa-dot-circle-o  text-success" ng-if="form.B_sign ==1 "></i>Signed by broker</li>
                                <li ng-if="form.B_A_sign > -1" ><i class="fa fa-dot-circle-o  text-success" ng-if="form.B_A_sign ==1 "></i>Signed by additional broker</li>
                                <li ng-if="form.PM_sign > -1"  ><i class="fa fa-dot-circle-o  text-success" ng-if="form.PM_sign ==1 "></i>Signed by property manager</li>
                                <li><i class="fa fa-dot-circle-o  text-success" ng-if="form.AllSigns ==1 "></i> Has All signs</li>

                            </ul>


                        </td>
                        <td>
                            <div ng-if="form.terminated==0">
                                <button class="btn  btn-success"> Save</button>
                                <button class="btn btn-info  ">Check</button>

                            </div>

                        </td>

                        <td>

                           <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Select
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a    ui-sref="ShowForm({formId:form.Id})" >View</a></li>
                                    <li ng-if="form.terminated==0"><a    ui-sref="EditForm({formId:form.Id})" >Edit</a></li>
                                    <li ng-if="form.terminated==0"><a  ng-click="deleteForm(form.Id)"   >Terminate</a></li>
                                    <li ng-if="form.terminated==0" ><a href="#" data-toggle="modal" data-target="#inviteModal" ng-click="assignInvite(form.Id) ">Invite</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a  ui-sref="Invoices( {LeaseId:form.Id})" >Show invoices</a></li>
                                </ul>
                            </div>


                        </td>


                    </tr>

                    </tbody>
                </table>


            </div>





          <!--


            <div class="row" ng-if="$root.role =='landlord'">
                <table  datatable="ng" class="table table-striped b-t b-b">
                    <thead>
                    <tr>
                        <th> Id</th>
                        <th>Invited</th>
                        <th>Address</th>
                        <th>Unit</th>
                        <th>CustomFile</th>
                        <th>Status</th>
                        <th>Parties</th>
                        <th>Blockchain</th>
                        <th> Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="form in Forms">
                        <td> {{form.Id}}</td>
                        <td> {{form.tenant_email}}</td>
                        <td> {{form.address}}</td>
                        <td> {{form.address2}}</td>
                        <td>  <a href="/uploads/customLease/{{form.LL_customLease_file}}" target="_blank" ng-if="form.IsCustom==1">Download doc </a></td>
                        <td> {{form.status}}


                            <a ng-if="form.customLease_file !=null "
                               href="/uploads/customLease/{{form.customLease_file}}" target="_blank"><i
                                    class="glyphicon glyphicon-download-alt"></i> </a>


                        </td>
                        <td>
                            <ul style="    list-style: none; ">
                                <li><i class="fa fa-dot-circle-o text-success" ng-if="form.Parties >0 "></i> Invited
                                </li>
                                <li><i class="fa fa-dot-circle-o  text-success" ng-if="form.Parties >1 "></i>Comments
                                </li>
                                <li><i class="fa fa-dot-circle-o  text-success" ng-if="form.LL_sign ==1 "></i>Signed by Landlord</li>
                                <li><i class="fa fa-dot-circle-o  text-success" ng-if="form.T_sign ==1 "></i>Signed by Tenant</li>
                                <li ng-if="form.B_sign > -1" ><i class="fa fa-dot-circle-o  text-success" ng-if="form.B_sign ==1 "></i>Signed by broker</li>
                                <li ng-if="form.B_A_sign > -1" ><i class="fa fa-dot-circle-o  text-success" ng-if="form.B_A_sign ==1 "></i>Signed by additional broker</li>
                                <li ng-if="form.PM_sign > -1"  ><i class="fa fa-dot-circle-o  text-success" ng-if="form.PM_sign ==1 "></i>Signed by property manager</li>
                                <li><i class="fa fa-dot-circle-o  text-success" ng-if="form.AllSigns ==1 "></i> Has All signs</li>

                            </ul>


                        </td>
                        <td>
                            <button class="btn  btn-success"> Save</button>
                            <button class="btn btn-info  ">Check</button>
                        </td>

                        <td>





                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Dropdown Menu
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a    ui-sref="ShowForm({formId:form.Id})" >View</a></li>
                                    <li><a    ui-sref="EditForm({formId:form.Id})" >Edit</a></li>
                                    <li><a  ng-click="deleteForm(form.Id)"
                                     >Delete</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#inviteModal" ng-click="assignInvite(form.Id) ">Invite</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a  ui-sref="Invoices( {LeaseId:form.Id})" >Show invoices</a></li>
                                </ul>
                            </div>


                        </td>


                    </tr>

                    </tbody>
                </table>


            </div>


            <div class="row" ng-if="$root.role =='tenant'">
                <table  datatable="ng" class="table table-striped b-t b-b">
                    <thead>
                    <tr>
                        <th> Id</th>
                        <th> Move In date</th>
                        <th>Address</th>
                        <th>Unit</th>
                        <th>status</th>
                        <th> Created</th>
                        <th> Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="form in Forms">
                        <td> {{form.Id}}</td>
                        <td> {{form.moveInDate}}</td>
                        <td> {{form.address}}</td>
                        <td> {{form.unit}}</td>
                        <td> {{form.status}}</td>
                        <td> {{form.created_at}}</td>
                        <td>
                            <a ui-sref="ShowForm({formId:form.Id})">
                                <button class="btn btn-info btn-addon"><i class="fa fa-play"></i>View</button>
                            </a>
                            <button class="btn btn-info btn-addon"> <a ui-sref="Invoices( {LeaseId:form.Id})">Show Invoices                      </a> </button>
                --            <button class="btn m-b-xs btn-sm btn-danger btn-addon " ng-click="rejectForm(form.Id)"><i
                                    class="fa fa-trash-o"></i>Reject
                            </button>
                            <button class="btn m-b-xs btn-sm btn-success btn-addon " ng-click="approveForm(form.Id)"><i
                                    class="fa fa-trash-o"></i>Approve
                            </button>
                            <input type="file" file-model="$root.CustomLease" name="CustomLease">
                            <button class="btn m-b-xs btn-sm btn-info  " ng-click="UploadLease(form.Id)">Upload Your
                                Lease doc.
                            </button> --
                        </td>





                    </tr>

                    </tbody>
                </table>


            </div>

            <div class="row" ng-if="$root.role =='broker' || $root.role =='property_manager' ">
                <table  datatable="ng" class="table table-striped b-t b-b">
                    <thead>
                    <tr>
                        <th> Id</th>
                        <th> Move In date</th>
                        <th>Address</th>
                        <th>Unit</th>
                        <th>status</th>
                        <th> Created</th>
                        <th> Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="form in Forms">
                        <td> {{form.Id}}</td>
                        <td> {{form.moveInDate}}</td>
                        <td> {{form.address}}</td>
                        <td> {{form.unit}}</td>
                        <td> {{form.status}}</td>
                        <td> {{form.created_at}}</td>
                        <td>
                            <a ui-sref="ShowForm({formId:form.Id})">
                                <button class="btn btn-info btn-addon"><i class="fa fa-play"></i>View</button>
                            </a>

                        </td>
                    </tr>

                    </tbody>
                </table>


            </div>





            -->
            <!-- / stats -->


        </div>
    </div>
    <!-- / main -->

            </div>
        </div>
</div>


<!-- /content -->

<!-- Modal -->
<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Invite users to this contract </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">Email</label>
                            <div class="input-group mb-2">
                                <input type="email" class="form-control" id="inlineFormInputGroup" placeholder="email" ng-model="InviteEmail">
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-2" ng-click="SendInvite(InviteEmail)">SendInvite</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="SendInvite(InviteEmail)">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<div class="app-footer wrapper b-t bg-light">
    <span class="pull-right">{{app.version}} <a href ui-scroll-to="app" class="m-l-sm text-muted"><i
            class="fa fa-long-arrow-up"></i></a></span>
    &copy; 2016 Copyright.   <span style="color:red" >{{ $root.email}}</span>
</div>
<!-- / footer -->
