<!-- navbar -->
<div data-ng-include=" '/tpl/blocks/header.html' " class="app-header navbar">
</div>


<!-- / navbar -->


<!-- content -->


<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;  ">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">List form</h1>
                </div>


            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md">
            <!-- stats -->



            <div class="row">
                <table  datatable="ng" class="table table-striped b-t b-b">
                    <thead>
                    <tr>
                        <th> Id</th>
                        <th>Contract Id</th>
                        <th>Contract</th>
                        <th>Paid until</th>
                        <th>created_at</th>
                        <th>Status</th>
                        <th> Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="invoice in Invoices">
                        <td> {{invoice.id}}</td>
                        <td> {{ invoice.leaseId}}  </td>
                        <td>  <a ui-sref="ShowForm({formId:invoice.leaseId})">  Show contract</a>



                        </td>
                        <td> {{invoice.paidUntil}}</td>
                        <td> {{invoice.created_at}}</td>
                        <td>
                            <button class="btn m-b-xs w-xs btn-success" ng-if="invoice.status=='paid'">Paid</button>
                            <button class="btn m-b-xs w-xs btnwarning" ng-if="invoice.status=='new'">New</button>

                        </td>
                        <td>


                            <button class="btn btn-info "><a
                                    href="/invoice/{{invoice.id}}" target="_blank"> Download PDF </a></button>
                            <div ng-if="$root.user.role=='tenant'">

                                <button class="btn btn-info " ng-click="PayInvoice(invoice)" ng-if="invoice.status!='paid' ">Pay </button>
                    <!--            <button class="btn btn-info " ng-click="PayInvoicePaypal(invoice)" ng-if="invoice.status!='paid' ">Pay VIA PAyPal</button>
                                <button class="btn btn-info " ng-click="PayInvoiceStripe(invoice)" ng-if="invoice.status!='paid' ">Pay VIA STRIPE</button>
                                            <button class="btn btn-info " ng-click="PayInvoice(invoice)" ng-if="invoice.status!='paid' && $root.user.CoinBaseRefreshToken.length>10 ">Pay With CoinBase</button>
                                 <!--
                                       <button class="btn btn-info " ng-click="PayInvoice(invoice)" ng-if="invoice.status!='paid' && $root.user.CoinBaseRefreshToken.length>10 ">Pay</button>
                          -->
   <!--                             <button class="btn  "  ng-if="invoice.status!='paid' && ($root.user.CoinBaseRefreshToken == null || $root.user.CoinBaseRefreshToken == '') " disabled title="Add Coinbase account to make payments"> Pay </button>
-->
                            </div>


                        </td>


                    </tr>

                    </tbody>
                </table>


            </div>


            <!-- / stats -->


        </div>
    </div>
    <!-- / main -->

</div>


<!-- /content -->

<!-- footer -->
<div class="app-footer wrapper b-t bg-light">
    <span class="pull-right">{{app.version}} <a href ui-scroll-to="app" class="m-l-sm text-muted"><i
            class="fa fa-long-arrow-up"></i></a></span>
    &copy; 2016 Copyright.  <span style="color:red" >{{ $root.email}}</span>
</div>
<!-- / footer -->
