<!-- navbar -->
<div data-ng-include=" '/tpl/blocks/header.html' " class="app-header navbar">
</div>


<!-- / navbar -->


<!-- content -->


<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;  ">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">Select payment method</h1>
                </div>


            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md">
            <!-- stats -->


            <div class="row">
                <button class="btn btn-info " ng-click="PayInvoicePaypal()" ng-if="invoice.status!='paid' ">Pay
                    VIA PAyPal
                </button>

            </div>

            <div class="row">
                <button class="btn btn-info " ng-click="PayInvoiceStripe()" ng-if="invoice.status!='paid' ">Pay
                    VIA STRIPE
                </button>
            </div>

            <div class="row">
                <button class="btn btn-info " ng-click="PayInvoiceCoinBase()"
                        ng-if="invoice.status!='paid' && $root.user.CoinBaseRefreshToken.length>10 ">Pay With CoinBase
                </button>
                <button class="btn  "
                        ng-if="invoice.status!='paid' && ($root.user.CoinBaseRefreshToken == null || $root.user.CoinBaseRefreshToken == '') "
                        disabled title="Add Coinbase account to make payments">  Add Coinbase account to make payment
                </button>
            </div>

        </div>
    </div>
    <!-- / main -->

</div>


<!-- /content -->

<!-- footer -->
<div class="app-footer wrapper b-t bg-light">
    <span class="pull-right">{{app.version}} <a href ui-scroll-to="app" class="m-l-sm text-muted"><i
            class="fa fa-long-arrow-up"></i></a></span>
    &copy; 2016 Copyright. <span style="color:red">{{ $root.email}}</span>
</div>
<!-- / footer -->
